<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="page-title">
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

 
    <ion-grid>
      <ion-row >
        <ion-col padding  size-xs="12" size-sm="12" size-md="12" size-lg="12" align-self-stretch>
          <h3 class="page-title">About Infy</h3>
          Infosys Limited, is an Indian multinational corporation that provides business consulting, information technology and outsourcing services. The company is headquartered in Bangalore, Karnataka, India.
        </ion-col>
      
        <ion-col padding size-xs="12" size-sm="12" size-md="6" size-lg="6" align-self-stretch>
          <h3>Details</h3>
          <img src="assets/image/infosys.jpg" alt="image1">
        </ion-col>

        <ion-col padding  size-xs="12" size-sm="12" size-md="6" size-lg="6" align-self-stretch>
          <h3>Details</h3>
          Infosys was established by seven engineers in Pune, Maharashtra, India with an initial capital of $250 in 1981.[10] It was registered as Infosys Consultants Private Limited on 2 July 1981.[11] In 1983, it relocated its office to Bangalore, Karnataka, India.

          The company changed its name to Infosys Technologies Private Limited in April 1992 and to Infosys Technologies Limited when it became a public limited company in June 1992. It was later renamed to Infosys Limited in June 2011.[12]
          
          An initial public offering (IPO) was floated in February 1993 with an offer price of ₹95 (equivalent to ₹550 or US$7.80 in 2019) per share against a book value of ₹20 (equivalent to ₹120 or US$1.60 in 2019) per share. The IPO was undersubscribed but it was "bailed out" by US investment bank Morgan Stanley, which picked up a 13% equity stake at the offer price.[13] Its shares were listed in June 1993 with trading opening at ₹145 (equivalent to ₹850 or US$12 in 2019) per share.[14]
          
          Its shares were listed on the Nasdaq stock exchange in 1999 as American depositary receipts. The share price surged to ₹8,100 (equivalent to ₹28,000 or US$390 in 2019) by 1999 making it the costliest share on the market at the time. At that time, Infosys was among the 20 biggest companies by market capitalization on the NASDAQ.[13] The ADR listing was shifted from NASDAQ to NYSE Euronext to give European investors better access to the company's shares.[15]        </ion-col>

        <ion-col padding  size-xs="12" size-sm="12" size-md="12" size-lg="12" align-self-stretch>
          <h3>More information</h3>
          Infosys Limited, is an Indian multinational corporation that provides business consulting, information technology and outsourcing services. The company is headquartered in Bangalore, Karnataka, India.
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
