<ion-header>
  <ion-toolbar>
    <ion-title class="page-title">service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
     
      <ion-col padding  size-xs="12" size-sm="12" size-md="12" size-lg="12" align-self-stretch>
        <h2 class="page-title">Infosys service</h2>
        Infosys was established by seven engineers in Pune, Maharashtra, India with an initial capital of $250 in 1981.[10] It was registered as Infosys Consultants Private Limited on 2 July 1981.[11] In 1983, it relocated its office to Bangalore, Karnataka, India.

        The company changed its name to Infosys Technologies Private Limited in April 1992 and to Infosys Technologies Limited when it became a public limited company in June 1992. It was later renamed to Infosys Limited in June 2011.[12]
        
        An initial public offering (IPO) was floated in February 1993 with an offer price of ₹95 (equivalent to ₹550 or US$7.80 in 2019) per share against a book value of ₹20 (equivalent to ₹120 or US$1.60 in 2019) per share. The IPO was undersubscribed but it was "bailed out" by US investment bank Morgan Stanley, which picked up a 13% equity stake at the offer price.[13] Its shares were listed in June 1993 with trading opening at ₹145 (equivalent to ₹850 or US$12 in 2019) per share.[14]
      </ion-col>
      <ion-col padding  size-xs="12" size-sm="12" size-md="6" size-lg="6" align-self-stretch>
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">State</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Zip Code</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button color="primary">Success</ion-button>
  </ion-list>
  </ion-col>
  <ion-col padding  size-xs="12" size-sm="12" size-md="6" size-lg="6" align-self-stretch>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.0049655242647!2d77.65873321408183!3d12.842955390940396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6d0b01d4ad27%3A0x2dca0277a7d45a6a!2sInfosys!5e0!3m2!1sen!2sin!4v1601544006914!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </ion-col>

  </ion-row>
  </ion-grid>
</ion-content>
