<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label><a routerLink="/home">Home</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
          <ion-label><a routerLink="/about">About</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="server-outline" slot="start"></ion-icon>
          <ion-label><a routerLink="/service">Service</a></ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>LOGO</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
